flows/Rejection_Lockdown.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Reason Code Update</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Reason Code Update 2</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
(ISNEW() ||
ISCHANGED ([Payment_History__c].Reason_Code__c )) &amp;&amp;
ISPICKVAL([Payment_History__c].Cleared__c ,&apos;NO&apos;) &amp;&amp;
([Payment_History__c].Reason_Code__c = &apos;XA3&apos; ||
[Payment_History__c].Reason_Code__c = &apos;R04&apos; ||
[Payment_History__c].Reason_Code__c = &apos;X13&apos; ||
[Payment_History__c].Reason_Code__c = &apos;XZ1&apos; ||
[Payment_History__c].Reason_Code__c = &apos;XZ2&apos; ||
[Payment_History__c].Reason_Code__c = &apos;R42&apos; ||
[Payment_History__c].Reason_Code__c = &apos;R09&apos; ||
[Payment_History__c].Reason_Code__c = &apos;R01&apos; ||
[Payment_History__c].Reason_Code__c = &apos;R03&apos; 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>
(ISNEW() ||
ISCHANGED ({!myVariable_current.Reason_Code__c} )) &amp;&amp;
ISPICKVAL({!myVariable_current.Cleared__c} ,&apos;NO&apos;) &amp;&amp;
({!myVariable_current.Reason_Code__c} = &apos;XA3&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;R04&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;X13&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;XZ1&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;XZ2&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;R42&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;R09&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;R01&apos; ||
{!myVariable_current.Reason_Code__c} = &apos;R03&apos; 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW() ||
ISCHANGED ([Payment_History__c].Reason_Code__c )) &amp;&amp;
ISPICKVAL([Payment_History__c].Cleared__c ,&apos;NO&apos;) &amp;&amp;
([Payment_History__c].Reason_Code__c != &apos;XA3&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;R04&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;X13&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;XZ1&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;XZ2&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;R42&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;R09&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;R01&apos; &amp;&amp;
[Payment_History__c].Reason_Code__c != &apos;R03&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() ||
ISCHANGED ({!myVariable_current.Reason_Code__c} )) &amp;&amp;
ISPICKVAL({!myVariable_current.Cleared__c} ,&apos;NO&apos;) &amp;&amp;
({!myVariable_current.Reason_Code__c} != &apos;XA3&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;R04&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;X13&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;XZ1&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;XZ2&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;R42&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;R09&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;R01&apos; &amp;&amp;
{!myVariable_current.Reason_Code__c} != &apos;R03&apos;
)</expression>
    </formulas>
    <interviewLabel>Rejection_Lockdown-8_InterviewLabel</interviewLabel>
    <label>Rejection Lockdown</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Payment_History__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Payment_History__c].Opportunity</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Opp Reason NSF Update</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rejection Type 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Rejection_Type_2__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>VOLUNTARY</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rejection Type 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Rejection_Type_2__c</field>
            <value>
                <stringValue>NSF</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Payment_History__c].Opportunity</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Voluntary Field Update</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rejection Type 2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Rejection_Type_2__c</field>
            <value>
                <stringValue>VOLUNTARY</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment_History__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment_History__c</objectType>
    </variables>
</Flow>
